
<!DOCTYPE HTML>
<html>
<head>
    <title>걍 게시판이다 임마</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Google / Search Engine Tags / 구글 검색 엔진 -->
    <meta itemprop="name" content="그냥 게시판">
    <meta itemprop="description" content="그냥 게시판이니라">
    <meta itemprop="image" content="https://s.gae9.com/trend/44af7b577eab0005.orig">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>