
<!DOCTYPE HTML>
<html>
<head>
    <title>걍 게시판이다 임마</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Google / Search Engine Tags / 구글 검색 엔진 -->
    <meta itemprop="name" content="그냥 게시판">
    <meta itemprop="description" content="그냥 게시판이니라">
    <meta itemprop="image" content="https://www.google.com/url?sa=i&url=https%3A%2F%2Fgae9.com%2Ftrend%2FfDN8D57m4q9%23!new%2F15315&psig=AOvVaw22QEtdP7ENn9S4JsAtmmzJ&ust=1592459459975000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNClh_iTiOoCFQAAAAAdAAAAABAI">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>